<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Citizen Reporter</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="assets/css/style.css?ver=1" rel="stylesheet">

  <script>
  var global = {
    userLoggedIn : false,
    userId : false,
    requireLogin : true
  }
  </script>


  <base href="//tomek.sourcefabric.net/citizen_reporter/">
</head>

<body ng-app="app">


  <header class="mainHeader">
    <a class="button button-left" href="#/" ng-show="currentPath == '/reports'"><i class="fa fa-angle-left"></i></a>
    <div class="title">Citizen Reporter</div>
    <a class="button" href="#/reports" ng-show="userLoggedIn && currentPath=='/'"><i class="fa fa-list"></i></a>
  </header>



  <div class="view-animate-container" ng-class="$root.animationDirection" >
    <div class="view-animate" ng-view></div>
  </div>

  <script type="text/ng-template" id="login.html">
    <div class="container">
      <div class="login">



        <h2>Hello Citizen Reporter! We rely on your eyes. Please provide your reports or images of public interest to us.</h2>


        <form ng-submit="login()">
          <input type="text" placeholder="Username or email">
          <input type="password"  placeholder="Password">
          <button type="submit" >Login</button>
        </form>

      </div>

    </div>
  </script>

  <script type="text/ng-template" id="add.html" >

    <div class="container">
      <div class="add">


        <h2>Please send all relevant material to our newsroom.</h2>
        <div class="desktop">
          <div class="message" contentEditable="true" placeholder="Write Your message here."></div>

          <button class="photo" ng-hide="imageSrc"><i class="fa fa-picture-o"></i>
            <input type="file" accept="image/*;capture=camera" ng-file-select="fileInputChange($files)" ng-model="imageSrc"/>
          </button>
          <div ng-show="imageSrc" class="imagePreview">
            <img ng-src="{[{imageSrc}]}" />
            <span class="close" ng-click="removePhoto()"><i class="fa fa-times"></i></span>
          </div>
          <p class="disclamer">By clicking on send you will accept our <a href="#">terms and conditions</a></p>

          <button class="send">Send</button>
        </div>

        <div class="mobile">
          <button class="photo" ng-hide="imageSrc"><i class="fa fa-camera-retro"></i>
            <input type="file" accept="image/*;capture=camera" ng-file-select="fileInputChange($files)" ng-model="imageSrc"/>
          </button>
          <div ng-show="imageSrc" class="imagePreview">
            <img ng-src="{[{imageSrc}]}" />
            <span class="close" ng-click="removePhoto()"><i class="fa fa-times"></i></span>
          </div>
          <div class="message" contentEditable="true" placeholder="Write Your message here."></div>
          <p class="disclamer">By clicking on send you will accept our <a href="#">terms and conditions</a></p>
          <button class="send">Send</button>
        </div>

      </div>
    </div>
  </script>


  <script type="text/ng-template" id="reports.html">


    <div class="container">
      <div class="reports">
        <h1>Your reports</h1>

        <div class="filters ">
          <a class="filter" ng-class="{'active' : sortType.status==''}" ng-click="sortType.status = ''">All</a>


          <a class="filter" ng-class="{'active' : sortType.status=='accepted'}" ng-click="sortType.status = 'accepted'">Accepted</a>
          <a class="filter" ng-class="{'active' : sortType.status=='pending'}" ng-click="sortType.status = 'pending'">Pending</a>
          <a class="filter" ng-class="{'active' : sortType.status=='rejected'}" ng-click="sortType.status = 'rejected'">Rejected</a>
        </div>
        <ul>

          <li class="clearfix" ng-repeat="report in reports | filter:sortType:strict track by report.id " >
            <div class="image">

              <img ng-src="{[{report.img}]}" />
            </div>
            <div class="content">
              <div class="status" >
                <span>
                  <i class="fa" ng-class="{ 'fa-thumbs-o-up accepted': report.status=='accepted' , 'fa-ban rejected': report.status=='rejected', 'fa-clock-o pending': report.status=='pending' }"></i>
                  <strong>{[{report.status}]}</strong>
                </span>
                <span>
                  <strong>Sent on:</strong> {[{report.date_sent}]}
                </span>

                <span ng-if="report.date_review">
                  <strong>Reviewed on:</strong> {[{report.date_review}]}
                </span>



              </div>
              <p>
                {[{report.message}]}
              </p>
            </div>
          </li>

        </ul>


      </div>

    </div>
  </script>

  <script src="assets/js/dist/all.js" ></script>
</body>
</html>
