<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Citizen Reporter</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="{{ asset('/bundles/newscoopcitizenreporterplugin/css/style.css')  }}" rel="stylesheet">



</head>

<body ng-app="app">
  <div class="view-animate-container" ng-class="$root.animationDirection" >
    <div class="view-animate " ng-view></div>
  </div>

  <script type="text/ng-template" id="login.html">
    <div class="container">
      <div class="login">



        <h2>Hello Citizen Reporter! We rely on your eyes. Please provide your reports or images of public interest to us.</h2>


        <form ng-submit="login()">
          <input type="text" placeholder="Username or email">
          <input type="password"  placeholder="Password">
          <button type="submit" >Login</button>
        </form>

      </div>

    </div>
  </script>

  <script type="text/ng-template" id="add.html" >
    <header class="mainHeader">
      <a class="button" href="#/reports" ng-show="userLoggedIn"><i class="fa fa-list"></i></a>
    </header>
    <div class="container">
      <div class="add">


        <h2>Please send all relevant material to our newsroom.</h2>
        <div class="desktop">
          <div class="message" contentEditable="true" placeholder="Write Your message here."></div>

          <button class="photo" ng-hide="imageSrc"><i class="fa fa-picture-o"></i>
            <input type="file" accept="image/*;capture=camera" ng-file-select="fileInputChange($files)" ng-model="imageSrc"/>
          </button>
          <div ng-show="imageSrc" class="imagePreview">
            <img ng-src="{[{imageSrc}]}" />
            <span class="close" ng-click="removePhoto()"><i class="fa fa-times"></i></span>
          </div>
          <p class="disclamer">By clicking on send you will accept our <a href="#">terms and conditions</a></p>

          <button class="send">Send</button>
        </div>

        <div class="mobile">
          <button class="photo" ng-hide="imageSrc"><i class="fa fa-camera-retro"></i>
            <input type="file" accept="image/*;capture=camera" ng-file-select="fileInputChange($files)" ng-model="imageSrc"/>
          </button>
          <div ng-show="imageSrc" class="imagePreview">
            <img ng-src="{[{imageSrc}]}" />
            <span class="close" ng-click="removePhoto()"><i class="fa fa-times"></i></span>
          </div>
          <div class="message" contentEditable="true" placeholder="Write Your message here."></div>
          <p class="disclamer">By clicking on send you will accept our <a href="#">terms and conditions</a></p>
          <button class="send">Send</button>
        </div>

      </div>
    </div>
  </script>


  <script type="text/ng-template" id="reports.html">
    <header class="mainHeader">
     <a class="button button-left" href="#/" ><i class="fa fa-angle-left"></i></a>
    </header>

    <div class="container">
      <div class="reports">
        <h1>Your reports</h1>
        <ul>
          <li class="clearfix">
            <div class="image">
              <span class="status accepted"><i class="fa fa-thumbs-o-up"></i></span>
              <img src="http://lorempixel.com/800/800/" />
            </div>
            <p>
              Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem
              Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem


            </p>

          </li>

          <li class="clearfix">
            <div class="image">
              <span class="status rejected"><i class="fa fa-ban"></i></span>
              <img src="http://lorempixel.com/800/800/" />
            </div>
            <p>
              Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem

            </p>

          </li>

          <li class="clearfix">
            <div class="image">
              <span class="status pending"><i class="fa fa-clock-o"></i></span>
              <img src="http://lorempixel.com/800/800/" />
            </div>
            <p>
              Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem

            </p>

          </li>
        </ul>


      </div>

    </div>
  </script>

  <script src="assets/js/dist/all.js" ></script>
</body>
</html>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Citizen Reporter</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="assets/css/style.css?ver=1" rel="stylesheet">



</head>

<body ng-app="app">
  <div class="view-animate-container" ng-class="$root.animationDirection" >
    <div class="view-animate " ng-view></div>
  </div>

  <script type="text/ng-template" id="login.html">
    <div class="container">
      <div class="login">



        <h2>Hello Citizen Reporter! We rely on your eyes. Please provide your reports or images of public interest to us.</h2>


        <form ng-submit="login()">
          <input type="text" placeholder="Username or email">
          <input type="password"  placeholder="Password">
          <button type="submit" >Login</button>
        </form>

      </div>

    </div>
  </script>

  <script type="text/ng-template" id="add.html" >
    <header class="mainHeader">
      <a class="button" href="#/reports" ng-show="userLoggedIn"><i class="fa fa-list"></i></a>
    </header>
    <div class="container">
      <div class="add">


        <h2>Please send all relevant material to our newsroom.</h2>
        <div class="desktop">
          <div class="message" contentEditable="true" placeholder="Write Your message here."></div>

          <button class="photo" ng-hide="imageSrc"><i class="fa fa-picture-o"></i>
            <input type="file" accept="image/*;capture=camera" ng-file-select="fileInputChange($files)" ng-model="imageSrc"/>
          </button>
          <div ng-show="imageSrc" class="imagePreview">
            <img ng-src="{[{imageSrc}]}" />
            <span class="close" ng-click="removePhoto()"><i class="fa fa-times"></i></span>
          </div>
          <p class="disclamer">By clicking on send you will accept our <a href="#">terms and conditions</a></p>

          <button class="send">Send</button>
        </div>

        <div class="mobile">
          <button class="photo" ng-hide="imageSrc"><i class="fa fa-camera-retro"></i>
            <input type="file" accept="image/*;capture=camera" ng-file-select="fileInputChange($files)" ng-model="imageSrc"/>
          </button>
          <div ng-show="imageSrc" class="imagePreview">
            <img ng-src="{[{imageSrc}]}" />
            <span class="close" ng-click="removePhoto()"><i class="fa fa-times"></i></span>
          </div>
          <div class="message" contentEditable="true" placeholder="Write Your message here."></div>
          <p class="disclamer">By clicking on send you will accept our <a href="#">terms and conditions</a></p>
          <button class="send">Send</button>
        </div>

      </div>
    </div>
  </script>


  <script type="text/ng-template" id="reports.html">
    <header class="mainHeader">
     <a class="button button-left" href="#/" ><i class="fa fa-angle-left"></i></a>
    </header>

    <div class="container">
      <div class="reports">
        <h1>Your reports</h1>
        <ul>
          <li class="clearfix">
            <div class="image">
              <span class="status accepted"><i class="fa fa-thumbs-o-up"></i></span>
              <img src="http://lorempixel.com/800/800/" />
            </div>
            <p>
              Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem
              Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem


            </p>

          </li>

          <li class="clearfix">
            <div class="image">
              <span class="status rejected"><i class="fa fa-ban"></i></span>
              <img src="http://lorempixel.com/800/800/" />
            </div>
            <p>
              Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem

            </p>

          </li>

          <li class="clearfix">
            <div class="image">
              <span class="status pending"><i class="fa fa-clock-o"></i></span>
              <img src="http://lorempixel.com/800/800/" />
            </div>
            <p>
              Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem

            </p>

          </li>
        </ul>


      </div>

    </div>
  </script>

  <script src="{{ asset('/bundles/newscoopcitizenreporterplugin/js/all.js')  }}" ></script>
</body>
</html>
